<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Message</title>
    
    <style>
      body {
        font-family: Arial;
        background: linear-gradient(to right, #6a11cb, #2575fc);
        margin: 0;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .message {
        font-size: 20px;
        background: white;
        padding: 30px;
        display: inline-block;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>
  <body>
    <div class="message">{{ message }}</div>
  </body>
</html>